* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  font-family: Poppins;
  background-color: black;
  overflow-x: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background-image: url(fon.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__link {
  display: flex;
  gap: 40px;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
}

.box {
  background-color: rgb(13, 134, 239);
}
.header__a {
  text-decoration: none;
  color: grey;
}

.header__a2 {
  color: #bf8836;
}
.hero__button {
  display: flex;
  justify-content: center;
}
button {
  border: 2px solid black;
  background-color: black;
  border-radius: 15px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 10px;
  font-size: 15px;
}


.card1 {
  max-width: 583px;
  width: 100%;

  border-radius: 12px;
  background: rgba(25, 22, 28, 1);
}
.info__text {
  color: white;
  line-height: 25px;
  padding-left: 15px;
}
.info__card {
  max-width: 480px;
  border: 4px solid grey;
  border-radius: 13px;
  background-color: rgb(39, 39, 39);
  h4 {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}

.info__img {
  width: 100%;
  background-size: cover;
}
.info__button {
  width: 240.28px;
  margin-top: 20px;
  margin: 15px;
  display: block;
  margin: 15px auto;
}
.info__wrap {
  color: white;
}

.info__wrap2 {
  color: grey;
  text-align: center;
}

.info__wrap {
  display: flex;
  gap: 30px;
}
.coffee {
  background-image: url(fon2.png);
  padding: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.coffee__img {
  width: 1800px;
  max-width: 100%;
}

.coffee__about {
  text-align: center;
  color: white;
}

.coffee__h3 {
  margin-top: 20px;
}

.info2 {
  padding: 50px 0;
}

.podxod {
  background-image: url(fon3.png);
  padding: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.podxod__h2 {
  margin-bottom: 20px;
}
.podxod__about {
  color: white;
}

.price {
  background-image: url(fon4.png);
  padding: 200px;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  margin-top: 40px;
}

.price__info3 {
  max-width: 1827px;
  width: 100%;
  color: white;
  line-height: 30px;

  text-align: right;
}

.price__h1_ {
  /* display: flex;
  flex-direction: column; */

  text-align: left;

  

  
}



.play__youtube {
  margin: 0 auto;
  max-width: 1103px;
  width: 100%;
  height: 600px;
  padding: 70px;
}

.footer {
  background-image: url(./fon_brown.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 200px;
  color: white;
}
.container {
}
.footer__h1 {
  text-align: center;
  color: white;
  margin-bottom: 70px;
}
.footer__h3 {
  font-family: Poppins;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
}
.footer__h1_2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer__input {
  /* max-width: 350px; */
  /* width: 100%; */

  display: flex;
  flex-direction: column;
  gap: 30px;
  background-size: cover;

  input {
    /* max-width: 350px; */
    width: 100%;
    padding: 20px;
    background: transparent;
  }
  button {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    background: transparent;
    color: white;
    border: 1px solid black;
    padding: 20px;
    width: 100%;
  }
}

.end {
  width: 400px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1000px){

  .info__wrap{
   
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px){
  .price__h3{
    text-align: left;
  }
}

@media screen and (max-width: 460px){

  .header__link{
   display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 855px){

  .footer__wrap{
  
    flex-wrap: wrap;
  }
}